html
	head
		title socket.io demo
		script(src='/socket.io/socket.io.js')
		script(src='/src/home.js')
	body
		h1 socket.io demo
		div
			label message
			input#message
		div
			button#btnSend Send Message
